fastapi==0.95.0
uvicorn==0.21.1
pydantic
python-multipart==0.0.6
chardet==5.2.0
click==8.2.0
datasets==3.6.0
beautifulsoup4==4.13.4
pandas==2.2.3
nltk==3.9.1
transformers==4.51.3
huggingface-hub==0.31.2
langchain
langchain-community
evaluate==0.4.3
evaluation==0.0.2
scikit-learn
bioc==2.1
hf-xet==1.1.2
accelerate==1.7.0
tqdm==4.67.1
scikit-learn==1.6.1
python-dotenv==1.1.0
peft==0.15.2
tokenizers==0.21.1
torch==2.5.1
torchvision==0.20.1

